<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}-{% endblock %}</title>
  <link rel="icon" type="image/png" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/tom-select.bootstrap5.min.css') }}">
  
  <script defer src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  <script defer src="{{ url_for('static', path='/js/tom-select.complete.min.js') }}"></script>
  
  {% block styles %}{% endblock %}
</head>
<body>
  <!-- Include shared navbar -->
  {% include 'navbar.html' %}

  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>

  <!-- Include Flash Messages -->
  {% include 'flash_messages.html' %}

  {% block scripts %}{% endblock %}
</body>
</html>